#mostrarMensajes{
    -fx-background-image: url("../img/aviones.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 500 506;
    -fx-background-position: center center;
}
#mostrarUsuarios{
    -fx-background-image: url("../img/huellaUsu.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 180 400;
    -fx-background-position: center center;
}
#gridUsu{
    -fx-background-image: url("../img/fondo2.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 400 180;
    -fx-background-position: center center;
}
#strackOnline{
    -fx-background-image: url("../img/fondo2.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 400 100;
    -fx-background-position: center center;
}
#btnEnviar{
    -fx-background-image: url("../img/fondo2.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 50 50;
    -fx-background-position: center center;
}
Label {
    -fx-font-size: 20;
    -fx-font-family: "Calibri";
}